<h3>TODO</h3>
<ul>
  <li>Create <mark>YAML</mark> file for instants winning categories</li>
  <li>Winning categories for intstants in multiple sub-forms</li>
  <li>Pollish all forms to have placeholders for all fields</li>
</ul>
<h3>Done</h3>

<ul>
 <li>2016-05-06 added another <code>rake</code> task to init instant categories</li>
 <li>2016-05-05 started implementing <code>game/category</code> resources</li>
 <li>2016-05-04 created the <code>populate.rake</code> file with some tasks</li>
 <li>2016-05-04 created <mark>YAML</mark> file <code>db/init_db.yml</code>
      to populate the db</li>
 <li>2016-05-04 added Bootstap styles: forms, changed button style, menu</li>
 <li>2016-05-01 completed CRUD features for games</li>
 <li>2016-04-29 all anticipated validations for Game added</li>
 <li>2016-04-29 started this <strong>TODO</strong> list/log</li> 
</ul>
