<h3>TODO</h3>
<ul>
  <li>Consider creating <mark>YAML</mark> files for db initializations with valid data</li>
  <li>Make the button group in game/show view align left and at the bottom of page-header</li>
</ul>
<h3>Done</h3>
<em><small>most recent on top</small></em>
<ul>
 <li>2016-05-04 added Bootstap styles: forms, changed button style, menu</li>
 <li>2016-05-01 completed CRUD features for games</li>
 <li>2016-04-29 all anticipated validations for Game added</li>
 <li>2016-04-29 started this <strong>TODO</strong> list/log</li> 
</ul>
