<h3>TODO</h3>
<ul>
  <li>Finish with preliminary validations on Games</li>
  <li>Check if <code>git push</code> works from home</li>
  <li>Consider creating <mark>YAML</mark> files for db initializations with valid data</li>
</ul>
<h3>Done</h3>
<em><small>most recent on top</small></em>
<ul>
 <li>2016-04-29 started this <strong>TODO</strong> list/log</li> 
</ul>
