<h3>TODO</h3>
<ul>
  <li>In future consider using <a href='leafletjs.com'>leaflet.js</a> alternative and rails gem
      <a href='https://github.com/axyjo/leaflet-rails'>leaflet-rails</a></li>
  <li>Consider defining funds and winning funds, and use of categories model</li>
  <li>Use this <a href='https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/'>link</a> for <code>Readme.md</code></li>
  <li>Use this <a href='https://github.com/thoughtbot/factory_girl/blob/master/GETTING_STARTED.md#traits'>link</a> for <mark>FactoryGirl</mark></li>
  <li>Use this <a href='http://www.sitepoint.com/using-coffeescript-in-rails/'>link</a> for <code>coffeescript</code></li>
  <li>Follow this <a href='http://bootstrap-sass.happyfuncorp.com/bootstrap-sass/appearance/README.html'>link</a> to customize <mark>Bootstrap</mark></li>
  <li>Generate <strong>sales</strong> model
    <pre>rails generate model sales date:date sales:decimal{'12.2'} payout:decimal{'12.2'} terminal:references agent:references game:references</pre></li>
    <ul><h4>Comissions</h4>
      <li>Fist add <code>angularjs</code> in the assets pipline: fisrt add <code>gem angularjs-rails</code> in the Gemfile, and <code>//= require angular</code> in application.js manifest file</li>
      <li>Then add the respond_to json in the index action of Agents controller so we can request via Ajax in the angular controller to read agents </li>
      <li>Then copy the same code from our previous applications</li>
      <li>create Commissions controller under which we'll select commissions for agents and period</li>
    </ul>
  <li>Importing <strong>sales</strong> from <mark>csv</mark>
    <pre>
sqlite&gt; .mode csv
sqlite&gt; .import sales.2016-06-12.csv sales</pre>
  </li>
  <li>Exporting <strong>sales</strong> to <mark>csv</mark>
    <pre>
sqlite&gt; 
sqlite&gt; .mode csv
sqlite&gt; .output sales.2016-07-06.csv
sqlite&gt; SELECT * FROM sales;
sqlite&gt;</pre>
    And always zip the csv file!
  </li>
  <li>For <mark>Prawn</mark> don't forget to copy <mark>Droid</mark> fonts into <code>"#{ Prawn::BASEDIR }/data/fonts/"</code></li>
  <li>Get rid of the message <em>Commission form loaded</em> for angularjs in reports</li>
</ul>
<h3>Done</h3>

<ul>
  <li>2016-07-15 Added reports (annual for all and instant games); Added <mark>Reports</mark> and <mark>Utils</mark> dropdown menus</li>
  <li>2016-07-11 Added <mark>import-sales</mark> page</li>
  <li>2016-06-15 Commission calculation (pdf), fixed modal dialog form</li>
  <li>2016-06-14 Commission calculation (html)</li>
  <li>2016-06-13 Added commission form <mark>jquery</mark> code</li>
  <li>2016-06-13 Added commissions controller and <mark>angularjs</mark></li>
  <li>2016-06-10 added JSON format in the agent/terminals controller under index action needed for the comissions</li>
  <li>2016-06-06 created <mark>sale</mark> model and prepared <code>yaml</code> files for populating <strong>sales</strong> table</li>
  <li>2016-06-04 fixed open/read timeout for xml terminals</li>
  <li>2016-06-03 added system terminals in static pages; xml terminals (yaml file) is updated only if obsolete</li>
  <li>2016-06-02 by default view roles are assinged to each new non-admin user</li>
  <li>2016-06-02 completed Role CRUD</li>
  <li>2016-05-31 completed all permissions for <strong>Agent/Terminal</strong> models</li>
  <li>2016-05-31 added viewer, editor and manager permissions for <strong>Agents</strong> model</li>
  <li>2016-05-27 moved the db:init_games and db:init_agents rake task into <strong>db/seeds.rb</strong></li>
  <li>2016-05-26 added small routine to get available sales from server; the code is inserted into <strong>static_pages/todo</strong> controller/viewer</li>
  <li>2016-05-25 for the <strong>games</strong> controller completed <em>viewer</em> and <em>editor</em> roles</li>
  <li>2016-05-25 started implementing athorization using three roles (<em>viewer, editor, manager</em>) for <strong>games</strong></li>
  <li>2016-05-18 <strong>completed</strong> <code>users</code> CRUD functionality</li>
  <li>2016-05-18 started <code>users</code> CRUD functionality</li>
  <li>2016-05-17 added <mark>admin</mark> namespace for user administration and restricting access to agents/games for create/delete</li>
  <li>2016-05-13 added <mark>gmaps</mark> <code>terminal</code> form partial</li>
  <li>2016-05-12 added first <mark>coffeescript</mark> code to aid gmaps, added events listeners</li>
  <li>2016-05-12 completed <code>agents/terminals</code> <strong>CRUD</strong> functionality</li>
  <li>2016-05-11 implemented creating <strong>agents/terminals</strong>, added terminals in <code>db:init_agents</code></li>
  <li>2016-05-11 completed <code>agents</code> <strong>CRUD</strong> functionality</li>
  <li>2016-05-11 implemented creating <strong>agents</strong>, added <code>db:init_agents</code> for <code>rake</code></li>
  <li>2016-05-10 implemented <strong>devise</strong> sign up/in/out and added icons in nav options</li>
  <li>2016-05-10 changed the default <code>@font-family-base</code> to <code>Open Sans</code></li>
  <li>2016-05-09 completed <code>category</code> CRUD</li>
  <li>2016-05-06 pollished forms to have placeholders for all fields</li>
  <li>2016-05-06 added another <code>rake</code> task to init instant categories</li>
  <li>2016-05-05 started implementing <code>game/category</code> resources</li>
  <li>2016-05-04 created the <code>populate.rake</code> file with some tasks</li>
  <li>2016-05-04 created <mark>YAML</mark> file <code>db/init_db.yml</code>
        to populate the db</li>
  <li>2016-05-04 added Bootstap styles: forms, changed button style, menu</li>
  <li>2016-05-01 completed CRUD features for games</li>
  <li>2016-04-29 all anticipated validations for Game added</li>
  <li>2016-04-29 started this <strong>TODO</strong> list/log</li> 
</ul>
<% if @available_sales %>
  <div class='table-responsive'>
    <table class='table table-striped table-condensed table-hover'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Size</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @available_sales.each do |s| %>
          <tr>
            <td><%= s[:date] %></td>
            <td><%= s[:size] %></td>
            <td><%= s[:time] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
