<div id='admin' class='row'>
  <div class='col-md-9'>
    <header class='page-header'>
     <h2>Admin Lounge</h2> 
    </header>
    <p>This is the body of the page. Remove this.</p>
  </div>
  <div class='col-md-3'>
    <h3 class='small-caps'>Admin links</h3>
    <ul class='nav nav-stacked'>
      <li><%= link_to 'Users', admin_users_path, class: 'at-nav-users' %></li>
      <li><%= link_to 'Roles', admin_root_path, class: 'at-nav-links' %></li>
    </ul>
  </div>
</div>
