<% title 'Games', @game.name %>
<h2>Game '<%= @game.name %>'</h2>
<%= link_to 'Edit Game', edit_game_path(@game) %>
<ul>
  <% Game.column_names.each do |column| %>
    <li><%= column %>: <%= @game[column] %></li>
  <% end %>
</ul>
