/* changing the default font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans);
$font-family-base: 'Open Sans';

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

/* navigation bar */
body { padding-top: 70px; }

/* for the form partial */
/* input[type=number] NO SPINNER */
input[type=number].no-spinner { -moz-appearance: textfield; }
input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

.field_with_errors {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

/* at-style buttons */
a.at-new, a.at-edit, a.at-delete {
  @extend .btn;

  &:before {
    font-family: 'FontAwesome';
    padding-right: 0.75em;
  }
}

a.at-new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.at-edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.at-delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash-o;
  }
}

/* nav icons */
a.at-nav-signup, a.at-nav-signin, a.at-nav-signout, a.at-nav-home,
a.at-nav-agents, a.at-nav-todo {
  &:before {
    font-family: 'FontAwesome';
    padding-right: 0.35em;
  }
}

a.at-nav-signup { &:before { @extend .fa-user-plus; } }

a.at-nav-signin { &:before { @extend .fa-sign-in; } }

a.at-nav-signout { &:before { @extend .fa-sign-out; } }

a.at-nav-home { &:before { @extend .fa-home; } }

a.at-nav-agents { &:before { @extend .fa-users; } }

a.at-nav-todo { &:before { @extend .fa-pencil-square-o; } }

/* flash messages styling */
.alert-notice { @extend .alert-success; }
.alert-alert  { @extend .alert-danger; }

/* navbar active underlined style */
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-nav > li {
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
    border-bottom: 1px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #439348;
    border-bottom: 1px solid #439348;
}
