<div ng-app='reports' ng-controller='AnnuallyPerMonthPerGame'>
  <header class='page-header'>
    <div class='pull-right'>
      <div class='btn-group btn-group-sm dropdown'>
        <button class='btn btn-success navbar-btn'
                >{{year}}
        </button>
        <ul class='dropdown-menu'>
          <li ng-repeat='yr in years' 
              ng-class='{active: yr == year}'
              ng-click='setYear(yr)'>
            <a href=''>{{yr}}</a>
          </li>
        </ul>
        <button class='btn btn-success navbar-btn'
                data-toggle='dropdown'
                ><span class='caret'></span>
        </button>
      </div>
    </div>
    <h2>Annually per month per game for {{ year }}</h2>
  </header>

  <br />
  <div class='row'>
    <h3>Sales (money)</h3>
    <div class='table-responsive'>
      <table class='table table-hover table-condensed table-striped' style='font-size: 85%'>
        <thead>
          <tr>
            <th>id</th>
            <th>Game</th>
            <th ng-repeat='month in months' style='text-align: right'>
              {{ month }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='gsales in sales'>
            <td style='text-align: center'>{{ gsales.game_id }}</td>
            <td>{{ gsales.name }}</td>
            <td ng-repeat='month in months' style='text-align: right'>
              {{ thou_sep(gsales[month]) }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td colspan='2' style='text-align: center; font-weight: bold;'>{{ sales.length }}</td>
            <td ng-repeat='month in months' style='text-align: right; font-weight: bold;'>
              {{ thou_sep(sales_total_for(month)) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <div class='row'>
    <h3>Terminals</h3>
    <div class='table-responsive'>
      <table class='table table-hover table-condensed table-striped' style='font-size: 85%'>
        <thead>
          <tr>
            <th>id</th>
            <th>Game</th>
            <th ng-repeat='month in months' style='text-align: right'>
              {{ month }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='gterminals in terminals'>
            <td style='text-align: center'>{{ gterminals.game_id }}</td>
            <td>{{ gterminals.name }}</td>
            <td ng-repeat='month in months' style='text-align: right'>
              {{ thou_sep(gterminals[month]) }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td colspan='2' style='text-align: center; font-weight: bold;'>{{ terminals.length }}</td>
            <td  style='text-align: right; font-weight: bold;' ng-repeat='month in months'>
              {{ terminal_totals[0][month] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
